# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / Temporary
# =========================
*.log
*.tmp
*.temp